#top{
    background-color: black;
    min-height: 200px;
}

#banner {
    background: url("image/banner2.jpg") no-repeat;
    background-size: cover;
    height: 200px;
    padding: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
}

#avatar {
    position: absolute;
    left: 30%;
    margin: 0px;
    top: 50px;
    min-height: 198px;
    min-width: 200px;
    border-style: solid;
    border-color: whitesmoke;
}
#mainblock{
    background-color: #d3d3d3;
}
#header{
    background-color:whitesmoke;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
    text-align: right;
    font-size: 18pt;
    font-family: Arial;
    box-sizing: border-box;
    padding-right: 120px;
    padding-top: 7px;
}

#content {
    background-color: #eaeaea;
    min-height: 700px;
    padding: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 670px;
}
#intent{
border-style: dashed;
}

#photo{

}

#description{

}

#button{

}

#footer{
    background-color: #525252;
    min-height: 70px;

}